body,.main,.main > * {margin: 0px; padding=0px;background:black; color: green;border: none;}
    @keyframes flash {
      0% {color:lightgreen;} 
      50% {color:lightgreen;}
      51% {color:black;}
      75% {color:black;}
      76% {color:lightgreen;}
      100% {color:lightgreen;}
    }
	  .flsh {animation: flash 1s 0s infinite;}  
 .cdc { width: 40%;position: absolute; bottom: 0px; right: 20px;
    }
	  .doc {visibility: hidden; z-index: 3;}
	  	  .verif {z-index:40; height: 100vh; width: 100vw;}
